<template>
    <div class="tab-pane active" id="myprofile" role="tabpanel">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="col-lg-12 tab-pane active" id="comp" role="tabpanel">
                        <div class="col-lg-12 tabcontent" id="Information" style="display: block;">
                            <div style="background: #f3f3f3;" class="tab-main-content row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="editabl password password-field">
                                    <div class="formbox">
                                        <label style="text-align: left" class="col-md-8 col-sm-8 col-xs-8 profupdate">
                                            PERSONAL INFORMATION
                                        </label>

                                        <a class="edit" href="javascript:void(0)" @click="btneditinfo()">
                                            Edit
                                        </a>

                                        <div class="sc_btn">
                                            <a class="save" v-show="!editinfoflag" @click="btnsaveinfo()" >Save</a>
                                            <a class="exit" v-show="!editinfoflag" @click="btnexitinfo()" >Cancel</a>
                                        </div>

                                        <ul class="personal-info">
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-4 col-sm-5 col-xs-12 control-label">
                                                        Gender
                                                    </label>
                                                    <div style="text-align: left" class="col-md-8 col-sm-7 col-xs-12">
                                                        <div style="float: left" class="form-value">
                                                            <label class="control-label">
                                                                Male
                                                            </label>
                                                        </div>
                                                        <div style="float: left">
                                                            <div style=" margin: 1px 20px;width: 40px;" class="material-switch pull-right">
                                                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" v-bind:checked="userinfo.gender=='male'"
                                                                 v-on:change="ChangeGender($event.target.checked)" :disabled="editinfoflag">
                                                                <label for="someSwitchOptionDefault" class="label-default">
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-value">
                                                            <label class="control-label">
                                                                Female
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-4 col-sm-5 col-xs-12 control-label">
                                                        Name
                                                    </label>
                                                    <div style="text-align: left" class="col-md-8 col-sm-7 col-xs-12">
                                                        <div class="form-value">
                                                            <span id="CompanyName" v-show="editinfoflag">
                                                                {{userinfo[0].last_name}}, {{userinfo[0].first_name}}.
                                                            </span>
                                                            <div class="namefield">
                                                                <input type="text" class="form-control inputname" v-show="!editinfoflag" v-model="settinginfo.last_name" placeholder="Last Name"/>
                                                            </div>
                                                            <div class="namedot" v-show="!editinfoflag">,</div>
                                                            <div class="namefield">
                                                                <input type="text" class="form-control inputname" v-show="!editinfoflag" v-model="settinginfo.first_name" placeholder="First Name"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-4 col-sm-5 col-xs-12 control-label">
                                                        Birthdate
                                                    </label>
                                                    <div style="text-align: left" class="col-md-8 col-sm-7 col-xs-12">
                                                        <div class="form-value">
                                                            <span id="CompanyBirthdate" v-show="editinfoflag">
                                                                {{userinfo[0].birthday}}
                                                            </span>
                                                            <input type="text" class="form-control" v-show="!editinfoflag" v-model="settinginfo.birthday" placeholder="input your birthday">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-4 col-sm-5 col-xs-12 control-label">
                                                        Location
                                                    </label>
                                                    <div style="text-align: left" class="col-md-8 col-sm-7 col-xs-12">
                                                        <div class="form-value">
                                                            <span id="CompanyLocation" v-show="editinfoflag">
                                                                {{userinfo[0].location}}
                                                            </span>
                                                            <input type="text" class="form-control" v-show="!editinfoflag" v-model="settinginfo.location" placeholder="input your address">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-4 col-sm-5 col-xs-12 control-label">
                                                        Contact Number
                                                    </label>
                                                    <div style="text-align: left" class="col-md-8 col-sm-7 col-xs-12">
                                                        <div class="form-value">
                                                            <span id="CompanyContactNumber" v-show="editinfoflag">
                                                                {{userinfo[0].phone}}
                                                            </span>
                                                            <input type="number" class="form-control" v-show="!editinfoflag" v-model="settinginfo.phone" placeholder="input your phonenumber">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12 tab-pane active" id="comp" role="tabpanel">
                        <div class="col-lg-12 tabcontent" id="Information" style="display: block;">
                            <div style="background: #f3f3f3;" class="tab-main-content row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="editabl editable password password-fields">
                                    <div class="formbox">
                                        <label style="text-align: left;" class="col-md-8 col-sm-8 col-xs-8 profupdate">
                                            Email &amp; Password
                                        </label>
                                        <a class="edit" href="javascript:void(0)" @click="btneditaccount()">
                                            Edit
                                        </a>

                                        <div class="sc_btn">
                                            <a class="save" v-show="!editaccountflag" @click="btnsaveaccount()" >Save</a>
                                            <a class="exit" v-show="!editaccountflag" @click="btnexitaccount()" >Cancel</a>
                                        </div>
                                        <ul class="personal-info">
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-6 col-sm-6 col-xs-6 control-label">
                                                        E-mail
                                                    </label>
                                                    <div style="text-align: left" class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-value">
                                                            <span id="Companyemail" v-show="editaccountflag">
                                                                {{userinfo[0].email}}
                                                            </span>
                                                            <input type="email" class="form-control" v-show="!editaccountflag" v-model="settinginfo.email" placeholder="a@b.c">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-6 col-sm-6 col-xs-6 control-label">
                                                        Password
                                                    </label>
                                                    <div style="text-align: left" class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-value">
                                                            <span id="CompanyPassword" v-show="editaccountflag">
                                                                **********
                                                            </span>
                                                            <input type="password" class="form-control" v-show="!editaccountflag" v-model="settinginfo.password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label style="text-align: left" class="col-md-6 col-sm-6 col-xs-6 control-label">
                                                        Repeat Password
                                                    </label>
                                                    <div style="text-align: left" class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-value">
                                                            <span id="CompanyRepeatPassword">
                                                                **********
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            editinfoflag:true,
            editaccountflag:true,
            userinfo:[{}],
            settinginfo:{}
        }
    },
    mounted:function(){
        let url = "/users";
        const vm=this;
        axios.post(url).then((response)=>{
            vm.userinfo = response.data;
            vm.settinginfo = vm.userinfo[0];
            vm.settinginfo.password = '';
        })
    },
    methods:{
        ChangeGender:function(value){
            this.settinginfo.gender = !value? "Male":"Female";
        },
        btneditinfo:function(){
            this.editinfoflag=!this.editinfoflag;
        },
        btnsaveinfo:function(){
            let url = "/users/personalsave";
            axios.post(url, {
                first_name : this.settinginfo.first_name,
                last_name : this.settinginfo.last_name,
                birthday : this.settinginfo.birthday,
                location : this.settinginfo.location,
                phone : this.settinginfo.phone

            }).then((response)=>{
                
                this.userinfo.first_name = this.settinginfo.first_name;
                this.userinfo.last_name = this.settinginfo.last_name;
                this.userinfo.birthday = this.settinginfo.birthday;
                this.userinfo.location = this.settinginfo.location;
                this.userinfo.phone = this.settinginfo.phone;

                this.editinfoflag=!this.editinfoflag;
            })
        },
        btnexitinfo:function(){
            this.editinfoflag=!this.editinfoflag;
        },
        btneditaccount:function(){
            this.editaccountflag=!this.editaccountflag;
        },
        btnsaveaccount:function(){
            let url = "/users/emailsave";
            axios.post(url, {
                email:this.settinginfo.email,
                password:this.settinginfo.password
            }).then((response)=>{
                this.editaccountflag=!this.editaccountflag;
                this.userinfo.email = this.settinginfo.email;
                this.userinfo.password = this.settinginfo.password;
            })
        },
        btnexitaccount:function(){
            this.editaccountflag=!this.editaccountflag;
        }
    }
}
</script>

<style>
.namefield{
    float: left;
    padding: 0 2px;
    width: 100px;
}
.namedot{
    float: left;
    padding: 4px 0px;
    width: 2px;
}
.inputname{
    width: 100%;
}
</style>
