<template>
    <div class="tab-main-content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <profile-image></profile-image>
                <div class="main-content">
                    <div class="tab-section">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class=" bhoechie-tab">
                                    <div class="bhoechie-tab-content active">
                                        <div>
                                            <ul style="background-color: white;" class="nav nav-tabs" role="tablist">
                                                <li class="active" role="presentation">
                                                    <a aria-controls="" aria-expanded="true" data-toggle="tab" href="#myprofile" role="tab" @click.prevent="activeView='my-profile'">
                                                        <i aria-hidden="true" class="fa fa-id-card-o">
                                                        </i> {{langeage_array.myprofile}}
                                                    </a>
                                                </li>
                                                <li class="" role="presentation">
                                                    <a aria-controls="" aria-expanded="false" data-toggle="tab" href="#payment" role="tab" @click.prevent="activeView='payments'">
                                                        <i aria-hidden="true" class="fa fa-money">
                                                        </i> {{langeage_array.payments}}
                                                    </a>
                                                </li>
                                                <li class="" role="presentation">
                                                    <a aria-controls="" aria-expanded="false" data-toggle="tab" href="#compsaswda" role="tab" @click.prevent="activeView='notification'">
                                                        <i aria-hidden="true" class="fa fa-industry">
                                                        </i> {{langeage_array.notifications}}
                                                    </a>
                                                </li>
                                                <li class="" role="presentation">
                                                    <a aria-controls="" aria-expanded="false" data-toggle="tab" href="#ownerinfo" role="tab" @click.prevent="activeView='social-login'">
                                                        <i aria-hidden="true" class="fa fa-facebook">
                                                        </i> 
                                                        {{languages.sociallogins}}
                                                    </a>
                                                </li>
                                                <li class="" role="presentation">
                                                    <a aria-controls="" aria-expanded="false" data-toggle="tab" href="#Securityques" role="tab" @click.prevent="activeView='security-questions'">
                                                        <i aria-hidden="true" class="fa fa-shield">
                                                        </i> {{langeage_array.securityquesions}}
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <component :is="activeView"></component>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProfileImage from './profileimage'

import MyProfile from './myprofile'
import Payments from './payments'
import Notification from './notification'
import SocialLogin from './sociallogin'
import SecurityQuestions from './securityquestions'

export default {
    props:{
        languages:{}
    },
    data:function(){
        return{
            langeage_array:this.languages,
            activeView:"my-profile",
        }
    },
    components:{
        ProfileImage,
        MyProfile,
        Payments,
        Notification,
        SocialLogin,
        SecurityQuestions
    }
}
</script>

